{% extends 'base.html' %}

{% block title %}Home {% endblock %}

{% block content %}
    <h2>Welcome to the Home Page</h2>
    <p>This is the home page.</p>

    <h3>Hotel URLs</h3>
    <ul>
        <li><a href="{% url 'hotel_list' %}">List of Hotels</a></li>
        <li><a href="{% url 'hotel_create' %}">Create a Hotel</a></li>
      
        
    </ul>

    <h3>Room URLs</h3>
    <ul>
        <li><a href="{% url 'room_list' %}">List of Rooms</a></li>
        <li><a href="{% url 'room_create' %}">Create a Room</a></li>
       
        
    </ul>

    <h3>Purchase Order URLs</h3>
    <ul>
        <li><a href="{% url 'purchase_order_list' %}">List of Purchase Orders</a></li>
        <li><a href="{% url 'purchase_order_create' %}">Create a Purchase Order</a></li>
       
        <!-- Add other purchase order-related URLs here -->
    </ul>
    <h3>OrderItem URLs</h3>
    <ul>
        <li><a href="{% url 'order_item_list' %}">List of Order Items</a></li>
        <li><a href="{% url 'order_item_create' %}">Create an Order Item</a></li>
       
        <!-- Add other order item-related URLs here -->
    </ul>
<h3> InventoryItem</h3>
    <ul>
        <li><a href="{% url 'inventory_item_list' %}">List of inventory Items</a></li>
        <li><a href="{% url 'inventory_item_create' %}">create inventory Items</a></li>
        <li><a href="{% url 'inventory_calculation' %}">inventory_calculation</a></li>
    </ul>
    <h3>Supplier</h3>
    <ul>
        <li><a href="{% url 'supplier_list' %}">List of supplier</a></li>
        <li><a href="{% url 'supplier_create' %}">create supplier</a></li>
        
        
    </ul>
{% endblock %}
