<!-- inventory_calculation.html -->

{% extends 'base.html' %}

{% block content %}
  <h1>Inventory Calculation</h1>
  <p>Total Inventory Value: ksh{{ total_inventory_value }}</p>
  <p>Inventory Value by Category:</p>
  <ul>
    {% for category in inventory_value_by_category %}
      <li>{{ category.category }}: ksh{{ category.total_value }}</li>
    {% endfor %}
  </ul>
  <p>Reorder Suggestions:</p>
  <ul>
    {% for item in reorder_suggestions %}
      <li>{{ item.name }}</li>
    {% endfor %}
  </ul>
  <p>Inventory Turnover Ratio: {{ inventory_turnover_ratio }}</p>
  <p>Inventory Ageing Analysis:</p>
  <ul>
    {% for range, count in inventory_ageing.items %}
      <li>{{ range }}: {{ count }}</li>
    {% endfor %}
  </ul>
  
  <canvas id="inventoryValueByCategoryChart"></canvas>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 
{% endblock %}
