<!-- room_form.html -->
{% extends 'base.html' %}
{% block content %}
<main id="main" class="main">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{% if form.instance.pk %}Update Room{% else %}Create Room{% endif %}</h5>

      <!-- Your form -->
      <form method="post" enctype="multipart/form-data" class="row g-3">
        {% csrf_token %}
        <div class="col-md-12">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Hotel</span>
            {{ form.hotel }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Room Number</span>
            {{ form.room_number }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Room Type</span>
            {{ form.room_type }}
          </div>
        </div>
        <div class="col-12">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Rate</span>
            {{ form.rate }}
          </div>
        </div>
        <div class="col-12">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Availability</span>
            {{ form.availability }}
          </div>
        </div>
        <div class="col-12">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
            {{ form.description }}
          </div>
        </div>
        <div class="col-12">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Image</span>
            {{ form.image }}
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
        </div>
      </form><!-- End your form -->

    </div>
  </div>
</main>
{% endblock %}
