
<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>Welcome, {{ request.user.username }}!</p>

    <p>Here are some links to other pages:</p>
    <ul>
        <li><a href="{% url 'inventory_item_create' %}">Add/Update Products</a></li>
        <li><a href="{% url 'inventory_item_list' %}">Product List</a></li>
        <li><a href="{% url 'purchase_order_list' %}">Sale List</a></li>
        <li><a href="{% url 'inventory_calculation' %}">Calculations</a></li>
    </ul>

</body>
</html>
